$bg-color: white;
$test-color: white;
$foot-color: #f5f5f5;
$carousel-margin-top: 0px;
$pic-width: 1441px;
$footer-height: 150px;


/** {
    outline: 1px solid red;
}*/

html, 
body {
    background-color: $test-color;
    margin: 0px;
    padding: 0px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

/*.navbar {
    background-color: transparent;
    background: transparent;
    border-width: 0px;
}*/

.btn {
    margin-top: 3px;
}

div.item img {
    /* Set rules to fill background */
  min-height: 100%;
  min-width: $pic-width;
    
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
    
  /* Set up positioning */
  position: relative;
}

@media screen and (max-width: $pic-width) { /* Specific to this particular image */
  div.item img {
    left: 50%;
    margin-left: -$pic-width/2;   /* 50% */
  }
}

.carousel, .carousel-inner {
    width: auto;
    height: auto;
    margin-top: $carousel-margin-top;
}

.car-con {
    visibility: hidden;
}

a.left.carousel-control:hover .car-con,
a.left.carousel-control:active .car-con,
a.right.carousel-control:hover .car-con,
a.right.carousel-control:active .car-con {
    visibility: visible;
}

.main-con {
    background-color: $bg-color;
    height: auto;
    margin-top: 70px;
    margin-bottom: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: $footer-height;
    background-color: $foot-color;
}
