<div class="page-header row top-menu">
    <div class="col-md-4">
        <h2>
            <a href="{{url_for('home')}}">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </a>
        </h2>
    </div>
    <div class="col-md-2 text-center">
        <a href="{{url_for('about')}}" class="">About</a>
    </div>
    <div class="col-md-2 text-center">
        <a href="{{url_for('team')}}" class="">Team</a>
    </div>
    <div class="col-md-2 text-center">
        <a href="{{url_for('news')}}" class="">News</a>
    </div>
    <div class="col-md-2 text-center">
        <a href="{{url_for('contact')}}" class="">Contact</a>
    </div>
</div>