<div class="page-header row top-menu">
    <div class="col-md-6">
        <h2>
            <a href="{{url_for('hello')}}">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </a>
        </h2>
    </div>
    <div class="col-md-5 text-right">
        {% if user %}
        <div class="picture">
            <img class="img-circle profile" src="{{user.picture}}" alt="profile picture"></img>
        </div>
        {% endif %}
    </div>
    <div class="col-md-1 text-right">
        <div class="login_logout">
                {% if user %}
                    <a href="{{url_for('hello')}}" class="btn btn-default">Logout</a>
                {% elif login %}
                    <div class=""></div>
                {% else %}
                    <a href="{{url_for('hello')}}" class="btn btn-default">Login</a>
                {% endif %}
        </div>
    </div>
</div>