/** {
    outline: 1px solid red;
}*/
html,
body {
  background-color: white;
  margin: 0px;
  padding: 0px; }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 150px; }

/*.navbar {
    background-color: transparent;
    background: transparent;
    border-width: 0px;
}*/
.btn {
  margin-top: 3px; }

div.item img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1441px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: relative; }

@media screen and (max-width: 1441px) {
  /* Specific to this particular image */
  div.item img {
    left: 50%;
    margin-left: -720.5px;
    /* 50% */ } }

.carousel, .carousel-inner {
  width: auto;
  height: auto;
  margin-top: 0px; }

.car-con {
  visibility: hidden; }

a.left.carousel-control:hover .car-con,
a.left.carousel-control:active .car-con,
a.right.carousel-control:hover .car-con,
a.right.carousel-control:active .car-con {
  visibility: visible; }

.main-con {
  background-color: white;
  height: auto;
  margin-top: 70px;
  margin-bottom: 10px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #f5f5f5; }
