/** {
    outline: 1px solid red;
}*/

html, body {
    background-color: #EEEEF5;
    height: 100%;
}

.row {
    background-color: white;
}

.page-header {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 9px;
}

.fill {
    background-color: white;
    height: 100%;
}

.top-menu {
    background: #dff0d8; /* Old browsers */
    background: -moz-linear-gradient(top,  #dff0d8 0%, #c2f0c2 95%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #dff0d8 0%,#c2f0c2 95%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #dff0d8 0%,#c2f0c2 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dff0d8', endColorstr='#c2f0c2',GradientType=0 ); /* IE6-9 */

}

.item {
    margin-bottom: 10px;
}

.small {
    padding-top: 5px;
}

.glyphicon {
    padding-left: 5%;
}

.login_logout {
    margin-top: 20px;
}

.img-circle.profile {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border: 2px solid #FFF;
}

.fb-login-button {
    margin-bottom: 10px;
}

#signinButton {
    margin-top: 25px;
}

/*.divider {
    height: 5px;
}

.divider.green {
    background-color: #c2f0c2;
}*/

/*.categories {
    border-right: 1px solid gray;
}*/

